In [24]:
import pandas as pd
df = pd.read_csv("Life Expectancy Data.csv")
df.head()
df.info()
df =df.drop(columns=["Year"],axis=1)
df.drop(df.index[1:1800], inplace=True)
print(df)
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB
          Country      Status  Life expectancy   Adult Mortality  \
0     Afghanistan  Developing              65.0            263.0
1800      Namibia  Developing              64.3            268.0
1801      Namibia  Developing              63.0            299.0
1802      Namibia  Developing              62.4             36.0
1803      Namibia  Developing              61.7            317.0
...           ...         ...               ...              ...
2933     Zimbabwe  Developing              44.3            723.0
2934     Zimbabwe  Developing              44.5            715.0
2935     Zimbabwe  Developing              44.8             73.0
2936     Zimbabwe  Developing              45.3            686.0
2937     Zimbabwe  Developing              46.0            665.0

      infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
0                62     0.01               71.279624         65.0      1154
1800              3     7.84                7.896235         82.0        79
1801              3     7.58              719.553516         83.0      3138
1802              3     7.99              575.674807          NaN      4076
1803              3     6.28               59.550335          NaN         0
...             ...      ...                     ...          ...       ...
2933             27     4.36                0.000000         68.0        31
2934             26     4.06                0.000000          7.0       998
2935             25     4.43                0.000000         73.0       304
2936             25     1.72                0.000000         76.0       529
2937             24     1.68                0.000000         79.0      1483

       BMI   ...  Polio  Total expenditure  Diphtheria    HIV/AIDS  \
0      19.1  ...    6.0               8.16         65.0        0.1
1800   32.5  ...   85.0               8.78         82.0        4.7
1801   31.8  ...   83.0               7.89         83.0        6.2
1802   31.0  ...   83.0               8.50         83.0        8.7
1803    3.2  ...   83.0               7.15         83.0       11.7
...     ...  ...    ...                ...          ...        ...
2933   27.1  ...   67.0               7.13         65.0       33.6
2934   26.7  ...    7.0               6.52         68.0       36.7
2935   26.3  ...   73.0               6.53         71.0       39.8
2936   25.9  ...   76.0               6.16         75.0       42.1
2937   25.5  ...   78.0               7.10         78.0       43.5

              GDP  Population   thinness  1-19 years   thinness 5-9 years  \
0      584.259210  33736494.0                   17.2                 17.3
1800    56.971392   2215621.0                    9.9                  9.9
1801  5191.583810    217317.0                    1.4                  1.4
1802  4153.497885     21374.0                    1.9                  1.9
1803   429.656100    216375.0                   11.5                 11.4
...           ...         ...                    ...                  ...
2933   454.366654  12777511.0                    9.4                  9.4
2934   453.351155  12633897.0                    9.8                  9.9
2935    57.348340    125525.0                    1.2                  1.3
2936   548.587312  12366165.0                    1.6                  1.7
2937   547.358878  12222251.0                   11.0                 11.2

      Income composition of resources  Schooling
0                               0.479       10.1
1800                            0.612       11.5
1801                            0.604       11.4
1802                            0.598       11.4
1803                            0.589       11.3
...                               ...        ...
2933                            0.407        9.2
2934                            0.418        9.5
2935                            0.427       10.0
2936                            0.427        9.8
2937                            0.434        9.8

[1139 rows x 21 columns]

(1139, 21)

In [28]:
df.dropna(inplace=True)
df.shape

(577, 21)

In [31]:
df.info()
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 577 entries, 0 to 2937
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          577 non-null    object
 1   Status                           577 non-null    object
 2   Life expectancy                  577 non-null    float64
 3   Adult Mortality                  577 non-null    float64
 4   infant deaths                    577 non-null    int64
 5   Alcohol                          577 non-null    float64
 6   percentage expenditure           577 non-null    float64
 7   Hepatitis B                      577 non-null    float64
 8   Measles                          577 non-null    int64
 9    BMI                             577 non-null    float64
 10  under-five deaths                577 non-null    int64
 11  Polio                            577 non-null    float64
 12  Total expenditure                577 non-null    float64
 13  Diphtheria                       577 non-null    float64
 14   HIV/AIDS                        577 non-null    float64
 15  GDP                              577 non-null    float64
 16  Population                       577 non-null    float64
 17   thinness  1-19 years            577 non-null    float64
 18   thinness 5-9 years              577 non-null    float64
 19  Income composition of resources  577 non-null    float64
 20  Schooling                        577 non-null    float64
dtypes: float64(16), int64(3), object(2)
memory usage: 99.2+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 577 entries, 0 to 2937
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          577 non-null    object
 1   Status                           577 non-null    object
 2   Life expectancy                  577 non-null    float64
 3   Adult Mortality                  577 non-null    float64
 4   infant deaths                    577 non-null    int64
 5   Alcohol                          577 non-null    float64
 6   percentage expenditure           577 non-null    float64
 7   Hepatitis B                      577 non-null    float64
 8   Measles                          577 non-null    int64
 9    BMI                             577 non-null    float64
 10  under-five deaths                577 non-null    int64
 11  Polio                            577 non-null    float64
 12  Total expenditure                577 non-null    float64
 13  Diphtheria                       577 non-null    float64
 14   HIV/AIDS                        577 non-null    float64
 15  GDP                              577 non-null    float64
 16  Population                       577 non-null    float64
 17   thinness  1-19 years            577 non-null    float64
 18   thinness 5-9 years              577 non-null    float64
 19  Income composition of resources  577 non-null    float64
 20  Schooling                        577 non-null    float64
dtypes: float64(16), int64(3), object(2)
memory usage: 99.2+ KB
None

In [35]:
df.iloc[30:60,8] #data from 30 to 60 from 8 row

1873         0
1874         0
1875         0
1876         0
1878      1142
1879      1224
1880       272
1881       771
1882       372
1883       801
1894      6855
1895     52852
1896      6447
1897     18843
1898      8491
1899      1272
1900      9960
1901      2613
1902       704
1903    110927
1943      1370
1944      8749
1945      8046
1946      4386
1947      4321
1948       863
1949      1129
1950      2801
1951      7641
1952      2981
Name: Measles , dtype: int64

In [40]:
import pandas as pd
df = pd.read_csv("Life Expectancy Data.csv")
df.head()
null_ind = df[df["Adult Mortality"].isnull()].index
print(null_ind)

Index([624, 769, 1650, 1715, 1812, 1909, 1958, 2167, 2216, 2713], dtype='int64')

In [42]:
df = df.fillna(df["Hepatitis B"].mean())
df.iloc[30:60,8]

30    96.000000
31    96.000000
32    95.000000
33    95.000000
34    95.000000
35    95.000000
36    95.000000
37    95.000000
38    94.000000
39    91.000000
40     9.000000
41     8.000000
42    83.000000
43    81.000000
44    80.940461
45    80.940461
46    80.940461
47    80.940461
48    64.000000
49    64.000000
50    77.000000
51    75.000000
52    72.000000
53    77.000000
54    61.000000
55    69.000000
56    73.000000
57    80.940461
58    80.940461
59    80.940461
Name: Hepatitis B, dtype: float64

In [52]:
# interpolate fill
df["Hepatitis B"] = df["Hepatitis B"].interpolate()
df.iloc[30:60,8]

30    96.000000
31    96.000000
32    95.000000
33    95.000000
34    95.000000
35    95.000000
36    95.000000
37    95.000000
38    94.000000
39    91.000000
40     9.000000
41     8.000000
42    83.000000
43    81.000000
44    80.940461
45    80.940461
46    80.940461
47    80.940461
48    64.000000
49    64.000000
50    77.000000
51    75.000000
52    72.000000
53    77.000000
54    61.000000
55    69.000000
56    73.000000
57    80.940461
58    80.940461
59    80.940461
Name: Hepatitis B, dtype: float64

In [61]:
#forward and backward fill
df["Hepatitis B"] = df["Hepatitis B"].ffill()
df["Hepatitis B"] = df["Hepatitis B"].bfill()
df.iloc[30:60,8]

30    96.000000
31    96.000000
32    95.000000
33    95.000000
34    95.000000
35    95.000000
36    95.000000
37    95.000000
38    94.000000
39    91.000000
40     9.000000
41     8.000000
42    83.000000
43    81.000000
44    80.940461
45    80.940461
46    80.940461
47    80.940461
48    64.000000
49    64.000000
50    77.000000
51    75.000000
52    72.000000
53    77.000000
54    61.000000
55    69.000000
56    73.000000
57    80.940461
58    80.940461
59    80.940461
Name: Hepatitis B, dtype: float64

In [64]:
cat = df.select_dtypes(include= ['object']).columns
num = df.select_dtypes(include= ['int64','float64']).columns
print(cat)
print(num)

Index(['Country', 'Status'], dtype='object')
Index(['Year', 'Life expectancy ', 'Adult Mortality', 'infant deaths',
       'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',
       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',
       ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years',
       ' thinness 5-9 years', 'Income composition of resources', 'Schooling'],
      dtype='object')

In [68]:
for col in cat:
    print(f"\n unique {col}:{df[col].nunique()}")
    print(f"{df[col].value_counts()}")

 unique Country:193
Country
Afghanistan              16
Albania                  16
Algeria                  16
Angola                   16
Antigua and Barbuda      16
                         ..
Monaco                    1
Marshall Islands          1
Saint Kitts and Nevis     1
San Marino                1
Tuvalu                    1
Name: count, Length: 193, dtype: int64

 unique Status:2
Status
Developing    2426
Developed      512
Name: count, dtype: int64

In [70]:
df.describe()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2.938000e+03,2938.000000,2938.000000,2938.000000,2938.000000
mean,2007.518720,69.264808,164.511029,30.303948,9.643533,738.251295,80.940461,2419.592240,38.814457,42.035739,82.539778,11.707595,82.315136,1.742103,6354.433599,9.923168e+06,5.720380,5.750638,5.192648,15.818004
std,4.613841,9.532101,124.176415,117.926501,19.360891,1987.914858,22.586855,11467.272489,20.442514,160.445548,23.352499,20.132804,23.640333,5.077785,13403.692921,5.407585e+07,9.250892,9.290233,18.599888,16.119806
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.370000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.200000,74.000000,0.000000,1.092500,4.685343,80.940461,0.000000,19.400000,0.000000,78.000000,4.370000,78.000000,0.100000,190.174435,5.874250e+03,1.600000,1.600000,0.504250,10.300000
50%,2008.000000,72.100000,144.000000,3.000000,4.160000,64.912906,87.000000,17.000000,43.900000,4.000000,93.000000,5.950000,93.000000,0.100000,1171.983435,5.393575e+05,3.400000,3.400000,0.689500,12.500000
75%,2012.000000,75.700000,227.000000,22.000000,8.772500,441.534144,96.000000,360.250000,56.475000,28.000000,97.000000,8.190000,97.000000,0.800000,4779.405190,4.584371e+06,7.300000,7.300000,0.797000,14.700000
max,2015.000000,89.000000,723.000000,1800.000000,80.940461,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,80.940461,99.000000,50.600000,119172.741800,1.293859e+09,80.940461,80.940461,80.940461,80.940461

In [78]:
#using one-hot-encoding to convert categorical into numerical(binary) value
one_hot_encoding = pd.get_dummies(df,columns=["Status"],drop_first=True)
one_hot_encoding

,Country,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status_Developing
0,Afghanistan,2015,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,...,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,True
1,Afghanistan,2014,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,...,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,True
2,Afghanistan,2013,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,...,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,True
3,Afghanistan,2012,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,...,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,True
4,Afghanistan,2011,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,...,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,44.3,723.0,27,4.36,0.000000,68.0,31,27.1,...,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2,True
2934,Zimbabwe,2003,44.5,715.0,26,4.06,0.000000,7.0,998,26.7,...,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5,True
2935,Zimbabwe,2002,44.8,73.0,25,4.43,0.000000,73.0,304,26.3,...,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0,True
2936,Zimbabwe,2001,45.3,686.0,25,1.72,0.000000,76.0,529,25.9,...,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8,True
2937,Zimbabwe,2000,46.0,665.0,24,1.68,0.000000,79.0,1483,25.5,...,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8,True

In [80]:
one_hot_encoding1 = pd.get_dummies(df,columns=["Alcohol"],drop_first=True)
one_hot_encoding1

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,percentage expenditure,Hepatitis B,Measles,BMI,...,Alcohol_15.07,Alcohol_15.14,Alcohol_15.19,Alcohol_15.52,Alcohol_16.35,Alcohol_16.58,Alcohol_16.99,Alcohol_17.31,Alcohol_17.87,Alcohol_80.94046121593291
0,Afghanistan,2015,Developing,65.0,263.0,62,71.279624,65.0,1154,19.1,...,False,False,False,False,False,False,False,False,False,False
1,Afghanistan,2014,Developing,59.9,271.0,64,73.523582,62.0,492,18.6,...,False,False,False,False,False,False,False,False,False,False
2,Afghanistan,2013,Developing,59.9,268.0,66,73.219243,64.0,430,18.1,...,False,False,False,False,False,False,False,False,False,False
3,Afghanistan,2012,Developing,59.5,272.0,69,78.184215,67.0,2787,17.6,...,False,False,False,False,False,False,False,False,False,False
4,Afghanistan,2011,Developing,59.2,275.0,71,7.097109,68.0,3013,17.2,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,0.000000,68.0,31,27.1,...,False,False,False,False,False,False,False,False,False,False
2934,Zimbabwe,2003,Developing,44.5,715.0,26,0.000000,7.0,998,26.7,...,False,False,False,False,False,False,False,False,False,False
2935,Zimbabwe,2002,Developing,44.8,73.0,25,0.000000,73.0,304,26.3,...,False,False,False,False,False,False,False,False,False,False
2936,Zimbabwe,2001,Developing,45.3,686.0,25,0.000000,76.0,529,25.9,...,False,False,False,False,False,False,False,False,False,False
2937,Zimbabwe,2000,Developing,46.0,665.0,24,0.000000,79.0,1483,25.5,...,False,False,False,False,False,False,False,False,False,False

In [81]:
from sklearn.preprocessing import LabelEncoder

In [83]:
label_encoder = LabelEncoder()

In [89]:
#create a new column in df to store encoded values
df["encoded_status"] = label_encoder.fit_transform(df["Status"])
print(f"{df[["Status","encoded_status"]][100:120]}")

         Status  encoded_status
100  Developing               1
101  Developing               1
102  Developing               1
103  Developing               1
104  Developing               1
105  Developing               1
106  Developing               1
107  Developing               1
108  Developing               1
109  Developing               1
110  Developing               1
111  Developing               1
112   Developed               0
113   Developed               0
114   Developed               0
115   Developed               0
116   Developed               0
117   Developed               0
118   Developed               0
119   Developed               0

In [91]:
#for country
df["encoded_status"] = label_encoder.fit_transform(df["Country"])
print(f"{df[["Country","encoded_status"]][100:120]}")

       Country  encoded_status
100    Armenia               6
101    Armenia               6
102    Armenia               6
103    Armenia               6
104    Armenia               6
105    Armenia               6
106    Armenia               6
107    Armenia               6
108    Armenia               6
109    Armenia               6
110    Armenia               6
111    Armenia               6
112  Australia               7
113  Australia               7
114  Australia               7
115  Australia               7
116  Australia               7
117  Australia               7
118  Australia               7
119  Australia               7

In [108]:
#imoprt Scaling from sklearn
from sklearn.preprocessing import MinMaxScaler,StandardScaler

In [112]:
#create object of MinMax Scalar
minmax_scalar =MinMaxScaler()
standard_scaler =StandardScaler()

In [100]:
#Transforming the numerical value into a range of [0-1] ubing MinMax
#Make it easier for algorith to process these smaller values
df["scaled_Mortality"] = minmax_scalar.fit_transform(df[["Adult Mortality"]])
print(f"{df[["scaled_Mortality","Adult Mortality"]][10:30]}")

    scaled_Mortality  Adult Mortality
10          0.401662            291.0
11          0.404432            293.0
12          0.407202            295.0
13          0.002770              3.0
14          0.436288            316.0
15          0.443213            321.0
16          0.101108             74.0
17          0.009695              8.0
18          0.114958             84.0
19          0.117729             86.0
20          0.120499             88.0
21          0.124654             91.0
22          0.124654             91.0
23          0.000000              1.0
24          0.011080              9.0
25          0.135734             99.0
26          0.019391             15.0
27          0.022161             17.0
28          0.023546             18.0
29          0.019391             15.0

In [114]:
#using standard scalar to transform numerical col
df["scaled_infant"] = standard_scaler.fit_transform(df[["infant deaths"]])
print(f"{df[["scaled_infant","infant deaths"]][10:30]}")

    scaled_infant  infant deaths
10       0.463894             85
11       0.480856             87
12       0.480856             87
13       0.489338             88
14       0.489338             88
15       0.489338             88
16      -0.257017              0
17      -0.257017              0
18      -0.257017              0
19      -0.257017              0
20      -0.257017              0
21      -0.248536              1
22      -0.248536              1
23      -0.248536              1
24      -0.248536              1
25      -0.248536              1
26      -0.248536              1
27      -0.248536              1
28      -0.248536              1
29      -0.248536              1

In [126]:
#splitting the overall data into training and testing
#x = store feature columns
# y = store traget xolum
x= df.drop(columns =["Status","Country","Life expectancy "],axis=1)
y = df["Life expectancy "]

In [127]:
x.head()

,Year,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,...,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,encoded_status,scaled_Mortality,scaled_infant
0,2015,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,...,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,0,0.362881,0.268824
1,2014,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,...,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,0,0.373961,0.285786
2,2013,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,...,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,0,0.369806,0.302749
3,2012,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,...,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,0,0.375346,0.328193
4,2011,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,...,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,0,0.379501,0.345155

In [129]:
y.head()

0    65.0
1    59.9
2    59.9
3    59.5
4    59.2
Name: Life expectancy , dtype: float64

In [131]:
from sklearn.model_selection import train_test_split

In [136]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size =0.2, random_state= 42)

In [140]:
from sklearn import linear_model
reg = linear_model.LinearRegression()

In [142]:
reg.fit(x_train,y_train)
y_predict = reg.predict(x_test)
print(y_predict)

[67.33343104 75.88886717 76.12350811 78.80647045 46.05641298 50.77157678
 69.67351623 69.6081044  74.45942777 53.94550982 51.05696154 64.3456029
 67.10531609 70.20737861 71.5001901  64.20215718 58.37907314 80.22036364
 68.10280653 80.09465329 80.59627381 83.37543042 71.86920487 69.69661426
 69.17032587 67.84866383 62.59665374 64.74044553 73.98231097 72.84582152
 64.93322435 75.58085485 73.39001899 69.40342443 81.52498554 61.11222157
 68.55996204 73.4944491  66.10600849 76.78110532 57.65286607 64.69349095
 76.75260336 76.27921574 76.03379544 59.60071927 77.47386134 70.0213701
 68.28665748 67.90604347 52.73608221 63.09424522 77.37816606 73.60770078
 73.14016594 59.45867872 71.87638884 69.24057531 67.5893341  70.083651
 78.51411116 54.05396567 74.09575129 69.49647486 53.23508044 51.69983765
 54.89128692 78.9644341  60.15844537 74.64494233 82.51063766 74.84365326
 74.26107506 60.21438992 57.26430544 71.42280001 65.51641122 77.20291459
 55.84641397 65.77965962 64.46526351 62.98437862 67.56376189 69.38005207
 60.64434291 70.20998597 76.51858656 68.39294359 73.62029378 74.00388167
 73.2135559  63.52958321 73.16053611 78.86727945 74.20666345 67.27718805
 78.66625012 72.1575961  65.78795585 62.56139405 83.86540627 57.36817786
 72.06582361 55.03854757 73.82315505 76.68066723 71.80004111 68.35212389
 66.98791151 65.54391339 67.71780466 61.91089028 48.88814237 71.13533519
 62.11745031 77.14697744 64.71537857 55.70678561 64.99374055 65.32807254
 67.37707157 72.83315073 78.6454619  63.7272382  56.16171827 65.93391979
 70.82475458 64.23158785 73.19233974 70.87285157 75.23267216 83.67152519
 65.94073456 69.75999546 56.78563073 71.80007305 74.95030738 75.32230374
 77.57067366 77.84445941 70.45115188 65.60251395 63.04590599 60.12435809
 57.44456092 69.33659287 65.70080741 74.58366025 63.73985055 75.72080717
 77.75288335 81.63101886 70.43988051 73.13065476 80.08656556 78.21169382
 81.94225704 74.91207611 79.1225519  77.54982922 74.91730277 80.99243835
 71.82109119 74.99702619 67.51666234 65.37544315 66.77501039 77.62478769
 77.08825615 76.52156915 79.33907916 70.1649478  71.59229814 63.01014436
 71.12664249 66.24680235 70.04402699 63.21775125 64.26330081 73.17211639
 83.69718999 67.54946569 81.28768785 74.63569298 77.04113647 34.98067124
 63.74877769 44.67410857 73.11022798 69.34286573 65.14311125 70.70854272
 80.0018158  63.0647263  76.29939106 67.29967828 72.94200379 70.20422915
 77.76627454 73.91727764 71.87279004 56.10275207 72.98868868 72.13374285
 69.57773241 49.41926918 76.17762597 70.55951827 71.25348727 82.19729801
 61.98803723 60.43782894 72.94388089 53.02645392 53.6841843  54.00435075
 60.19296707 73.5706284  64.49215229 67.09225505 78.57937865 73.48742577
 70.00816912 76.57261193 77.33961098 49.46958685 58.03035028 75.27271408
 58.74015758 66.8324377  70.04128173 73.41042262 64.87912154 73.84031838
 73.47530114 53.70032344 77.83851031 75.16473546 50.51887671 70.91618217
 75.15364237 70.73591984 74.05515889 37.8823661  64.95331106 57.12171208
 79.48324329 73.11695419 74.61238217 62.78244581 68.63085745 75.23038749
 58.80191788 77.54111787 68.76209767 71.80458959 62.76195345 78.87608392
 58.24847585 52.98162969 70.0352757  72.6257611  64.38586659 54.5173882
 73.27199189 78.71023857 68.73547701 80.33525213 59.97281753 57.30739601
 57.81352586 50.57119441 69.17936726 70.08501249 56.61927947 72.83879704
 57.21109782 73.39757023 66.05946862 69.03637277 70.06607278 79.90008863
 60.56435481 76.90675314 76.08389082 65.17084757 76.77414514 45.62169613
 60.79739286 77.51612257 67.58502811 68.53740266 71.28708188 70.96737669
 74.68652481 67.69528574 77.41309854 71.66608723 55.84840556 74.034406
 74.70945001 75.91955229 69.41809131 74.63963926 73.90846806 57.27925857
 52.98622793 49.8553002  68.8298951  74.4656921  72.56367041 59.17141125
 75.34826054 65.92875886 70.09481116 65.11529327 57.12256958 71.59743212
 57.36377527 72.54611196 53.52621755 77.72611574 55.92722818 70.06138324
 70.89948306 76.40832046 74.54392472 70.21980083 72.30308681 78.26736037
 75.00942168 65.98286706 68.53554818 69.20827087 75.46411258 78.6955146
 72.01693709 75.27897599 71.59683382 71.71847311 69.41780659 74.20712383
 72.10697832 73.73628555 71.60923848 48.9410033  67.45886117 74.84330327
 73.47539861 75.33436287 63.43607644 69.53869118 60.88772445 60.10698334
 75.41804965 77.05618532 70.94979122 35.35464866 71.35629508 73.67928779
 64.28504168 74.1326469  79.51343749 70.03755277 64.64986188 62.96947034
 61.8917774  75.08752285 63.78994205 74.95473929 71.88386739 57.58588103
 73.76177482 78.01891025 74.66360668 74.41732921 57.53402572 68.79456356
 70.85885699 65.02536715 59.496825   80.99917605 81.38408116 79.31499911
 64.74601289 54.53900303 75.99493664 56.42582374 71.72774412 74.01246068
 48.11333983 77.71635086 75.21141853 79.57652813 65.0500481  66.19902747
 76.51238612 69.75923716 79.60861574 70.33986088 54.26360152 74.55254322
 49.19444005 71.71306327 66.49857983 63.74611113 68.83438848 72.7808506
 67.44887898 74.03158728 71.66133321 83.91958491 74.14726785 75.32696866
 71.42588431 69.07165157 59.4249974  69.03611496 68.8075284  64.72523649
 64.0827974  61.7507228  69.91298779 73.98163619 73.7461918  71.33115563
 67.51579566 65.71121847 73.82585888 75.09816376 56.56251766 77.44170119
 75.40985112 67.00268036 34.03868282 67.4221584  55.25465986 68.62745388
 66.95414773 73.49101905 76.43701199 68.64431503 72.36600391 77.72382967
 78.50399654 69.799557   77.20240626 75.81387414 82.94924615 57.34468078
 81.3333048  56.31024915 71.00772469 72.38287299 52.72483088 77.76566245
 83.59333263 51.57947622 66.61525953 74.3291082  73.96237635 71.35595827
 62.7579874  68.40602898 63.91781827 58.95924258 77.49882579 72.24056294
 80.13119935 70.3647606  67.94964566 77.91918776 73.14409843 70.06302674
 82.8882533  72.75787313 69.31073077 69.2864816  79.69906617 71.95085019
 75.74738457 72.54570316 69.9922377  75.35060849 69.35016433 84.75379695
 77.70880271 80.02465734 72.59054424 74.47358326 72.3606734  73.67004053
 52.25341108 69.92398367 72.29151304 63.97033993 78.1320281  72.25840494
 63.41168505 73.92685552 74.38018319 59.72203429 78.08923868 71.14405559
 74.14899562 78.28015306 72.15940711 80.48452704 75.3311002  74.62004942
 65.39544642 71.19763925 70.38668702 73.6212891  50.72848512 65.87223232
 63.82479271 64.46679842 66.26172501 59.21936134 73.11328437 75.35488287
 71.08651659 74.26886178 73.46122771 63.34094424 66.78229688 70.9227026
 75.97592431 82.87983586 56.78540007 72.65657529 68.96959735 80.18979549
 65.64027652 77.72937975 73.89683393 78.87830046 82.57467218 81.3353234
 77.09488456 47.27787439 66.13951769 69.1458662  76.6234148  63.99620555
 70.49971963 62.00077075 64.9204599  69.53721902 77.51033616 55.98827923
 80.32520871 61.23197195 75.26428241 66.30638372 75.87191007 67.94569422
 70.3369199  77.92375136 66.21291068 81.96914736 87.91216592 76.8819072
 52.16072724 76.95543482 77.24416849 83.93006021 60.15025392 72.06754586
 72.57843221 64.45119198 75.72521564 70.57931857 74.19656729 67.33394364
 67.8290065  71.68321418 57.90593611 73.87613089 55.69072664 78.80245082
 79.88364038 60.14167176 77.54179842 65.93767884 69.90641741 74.31850507]

In [150]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
mae = mean_absolute_error(y_test,y_predict)
mse = mean_squared_error(y_test,y_predict)
r2 = r2_score(y_test,y_predict)
print(f"mean absolute error:{mae}")
print(f"mean square error:{mse}")
print(f"R-squared:{r2}")

mean absolute error:3.2360770389703384
mean square error:23.730721496710707
R-squared:0.7275997806461996